{% extends 'base.html' %}

{% block title %} Lista Workspaces {% endblock %}

{% block content %}
    <a href="{% url 'crear_workspace' %}"> Crear Workspace </a>
    <form method="GET">
        <input type="text" name="busqueda" placeholder="Buscar por nombre" value="{{ busqueda }}">
        <button type="submit">Buscar</button>
    </form>
    <h1> Lista de Workspaces </h1>
    <ul>
        {% for workspace in workspaces %}
            <li> {{ workspace.name }} - <a href="{% url 'editar_workspace' workspace.id %}">Editar</a> - <a href="{% url 'eliminar_workspace' workspace.id %}">Eliminar</a></li>
        {% empty %}
            <li>No hay workspaces disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}