{% extends 'base.html'%}

{% block title %} Listar proyectos {%endblock%}

{% block content %}
    <a href="{% url 'crear_proyecto' workspace_id=workspace.id %}"> Crear Proyecto </a>
    <form method="GET">
        <input type="text" name="busqueda" placeholder="Buscar por nombre" value="{{ busqueda }}"> 
        <button type="submit"> Buscar </button>
    </form>

    <h1> Lista de Proyectos </h1>
    <ul>
        {% for proyecto in proyectos %}
            <li> {{ proyecto.name }} - <a href="{% url 'editar_proyecto' workspace_id=workspace.id pk=proyecto.id %}"> Editar </a>
                - <a href="{% url 'eliminar_proyecto' workspace_id=workspace.id pk=proyecto.id %}"> Eliminar </a>
            </li>
        {% empty %}
            <li> No hay proyectos disponibles. </li>
        {% endfor %}
        </ul>

{%endblock%}