{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <header>
        <h1> TaskFlow</h1>
        <nav>
            <a href="{% url 'listar_workspaces' %}">Workspaces</a>
            <a href="{% url 'listar_proyectos' %}">Proyectos</a>
            <a href="{% url 'listar_tareas' %}"> Tareas </a>
        </nav>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p> TaskFlow </p>
    </footer>
</body>
</html>